<div data-test="editor" class="two-col editor-container">
  <div class="markdown-entry">
    <div
      contenteditable="true"
      phx-hook="ContentEditable"
      phx-update="replace"
    >
      <%= render_raw(@post) %>
    </div>
  </div>
  <div class="rendered-output">
    <%= render_markdown(@post.body) %>
  </div>
</div>
