/* This file is for your main application css. */

@import "./phoenix.css";

.two-col {
  grid-area: editor;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100vw;
  padding: 1em;

}

.editor-container {
  background-color: #46a1a9;
  box-sizing: border-box;
}
.markdown-entry {
  background-color: #e1d5b9;
  width: 100%;
  height: 100%;
  border: solid;
  border-color: #b976af;
  border-width: 2px;
}

.markdown-entry > textarea {
  width: 100%;
  height: 100%;
}

.rendered-output {
  background-color: #f5faf5;
  width: 100%;
  height: 100%;
  border: solid;
  border-color: #b976af;
  border-width: 2px;
}

.title {
  margin: 1em;
  border-color: #b976af;
  color: white;
}
