<div data-test="editor" class="two-col editor-container">
  <div class="markdown-entry">
    <textarea phx-keyup="render_post"></textarea>
  </div>
  <div class="rendered-output">
    <%= raw(@post.body) %>
  </div>
</div>
